<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-signin", :role => "form", :method => :put}) do |f| %>

  <% if resource.errors.any? %>
    <%= render :partial => "layouts/messages", :locals => {:type => :alert, :msg => resource.errors.full_messages } %>
  <% end -%>

  <h2 class="form-signin-heading">My account</h2>

  <%= f.text_field :name, :class=> "form-control first", :placeholder => "Name" %>
  <%= f.text_field :uid, :class=> "form-control middle", :placeholder => "UID", :disabled => true %>
  <%= f.email_field :email, :class=> "form-control middle", :placeholder => "Email" %>

  <%= f.fields_for :account do |account_form| %>
    <%= account_form.text_field :agency, :class=> "form-control middle", :placeholder => "Agency Number", :disabled => true %>
    <%= account_form.text_field :number, :class=> "form-control middle", :placeholder => "Account Number", :disabled => true %>
  <% end %>

  <%= f.password_field :password, :class=> "form-control middle", :placeholder => "Password" %>
  <%= f.password_field :password_confirmation, :class=> "form-control last", :placeholder => "Password Confirmation" %>

  <hr>

  <%= f.password_field :current_password, :class=> "form-control last", :placeholder => "Current Password" %>

  <%= f.submit "Update", :class => "btn btn-lg btn-primary btn-block" %>

<% end %>
<%#= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger pull-right" %>
