<div class="panel panel-primary">

  <div class="panel-heading">
    Receipt
  </div>

  <div class="panel-body">

    <div class="well well-sm">
      <h5>Transference Receipt <small><%= "##{@transference.id}" %></small></h5>

      <p>To: <%= @user.name %></p>
      <p>UID: <%= @user.uid %></p>
      <p>Agency: <%= @user.agency_number %></p>
      <p>Account: <%= @user.account_number %></p>
      <hr>
      <p>Amount: <%= number_to_currency(@transference.amount) %></p>
      <hr>
      <p>Transaction at <%= @transference.created_at %></p>
    </div>

  </div>

</div>
