<div class="page-header">
  <h1>Bem-vindo ao PigBank</h1>
  <p class="lead">Acesse seus serviços através do painel abaixo.</p>
</div>

<section>

  <div class="col-xs-4">
    <%= link_to "Realizar Depósito", "#", :class => "main-button" %>
    <%= link_to "Saque", "#", :class => "main-button" %>
    <%= link_to "Transferência", "#", :class => "main-button" %>
    <%= link_to "Visualizar Saldo", "#", :class => "main-button" %>
    <%= link_to "Visualizar Extrato", "#", :class => "main-button" %>
  </div>

  <div class="col-xs-8">
    <div class="panel panel-default">
      <div class="panel-body">
      </div>
    </div>
  </div>

</section>