<div class="panel panel-primary">

  <div class="panel-heading">
    Your current balance
  </div>

  <div class="panel-body">

    <div class="well well-sm">
      <h5>Balance retrieved at <%= Time.now %></h5>

      <p><%= current_user.name %></p>
      <p>UID: <%= current_user.uid %></p>
      <p>Agency: <%= current_user.agency_number %></p>
      <p>Account: <%= current_user.account_number %></p>
      <hr>
      <p>Current Balance: <%= number_to_currency(current_user.balance) %></p>
    </div>

  </div>

</div>

