<div class="panel panel-primary">

  <div class="panel-heading">
    Confirm your password
  </div>

  <div class="panel-body">

    <%= form_for @withdraw, :url => withdraws_path, :html => {:class => "form-horizontal"} do |f| -%>

      <div class="form-group">
        <%= f.label :amount, nil, :class => "col-sm-2 control-label" %>
        <div class="col-xs-3">
          <div class="form-control"><%= number_to_currency(@withdraw.amount) %></div>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :password, nil, :class => "col-sm-2 control-label" %>
        <div class="col-xs-6">
          <%= password_field_tag :password, nil, :class => "form-control", :required => true, :placeholder => "Password" %>
        </div>
      </div>

      <%= f.hidden_field :amount %>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "Withdraw", :class => "btn btn-success" %>
          <%= link_to "Cancel", root_path, :class => "btn btn-warning" %>
        </div>
      </div>

    <% end  %>
  </div>

</div>
