<div class="panel panel-primary">

  <div class="panel-heading">
    Receipt
  </div>

  <div class="panel-body">

    <div class="well well-sm">
      <h5>Deposit Receipt <small><%= "##{@deposit.id}" %></small></h5>

      <p>To: <%= @user.name %></p>
      <p>UID: <%= @user.uid %></p>
      <p>Agency: <%= @user.account.agency %></p>
      <p>Account: <%= @user.account.number %></p>
      <hr>
      <p>Amount: <%= number_to_currency(@deposit.amount) %></p>
      <hr>
      <p>Transaction at <%= @deposit.created_at %></p>
    </div>

  </div>

</div>
