<div class="alert alert-<%= type == :notice ? "success" : "danger" %>" style="margin-top:20px;">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <% if msg.is_a?(String) %>
    <%= content_tag :div, :id => "flash_#{type}" do %>
      <span class="glyphicon glyphicon-<%= type == :notice ? "ok" : "remove" %>"></span>
      <%= msg %>
    <% end %>
  <% else %>
    <% msg.each do |txt| %>
      <%= content_tag :div, :id => "flash_#{type}" do %>
        <span class="glyphicon glyphicon-<%= type == :notice ? "ok" : "remove" %>"></span>
        <%= txt %>
      <% end %>
    <% end %>
  <% end %>
</div>
