<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "PigBank" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "PigBank" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <main role="main">
       <%= render 'layouts/messages' %>

       <div class="page-header">
        <h1>Welcome to PigBank</h1>
        <p class="lead">Access your services through the panel below.</p>
      </div>

      <section>

        <div class="col-xs-4">
          <%= link_to "Deposit", new_deposit_path, :class => "main-button" %>
          <%= link_to "Withdraw", new_withdraw_path, :class => "main-button", :disabled => !user_signed_in? %>
          <%= link_to "Transference", "#", :class => "main-button", :disabled => !user_signed_in? %>
          <%= link_to "View Balance", balance_path, :class => "main-button", :disabled => !user_signed_in? %>
          <%= link_to "View Statement", new_statement_path, :class => "main-button", :disabled => !user_signed_in? %>
        </div>

        <div class="col-xs-8">
          <%= yield %>
        </div>

      </section>

    </main>

    <%= javascript_include_tag "application" %>
  </body>

</html>
